@page
@model IndexModel
@{
    ViewData["Title"] = "Examen final";
}

<div class="container alert-dark">
    <div class="text-center text-justify pb-3">
        <h1 class="display-4"><b>Examen final de Desarrollo Web</b></h1>
        <img src="https://www.universidadesdeguatemala.com/wp-content/uploads/2020/09/descarga.png" style="width:400px; height:400px" ;>


        <h3 class="mt-2"><p><b>Josué Eduardo Ramírez Calderón  -   5390-15-6383</b></p></h3>
        <h5><p> <a href="swagger">Ver y probar API Rest en Swagger</a>.</p></h5>
    </div>
</div>
